body {
  background-color: rgb(150, 187, 218);
  font-family: "Open Sans condensed", "Calibri Light", Arial;
}

h1,
h2,
.weatherToday {
  color: #cefcec;
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 24px;
}

h2,
ul > :first-child {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.weatherToday {
  box-shadow: 0 0 10px -10px #4ecca3;
}

.main_top,
.forecast_bottom {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 500px;
}
.btn-primary.mb-2 {
  background-color: rgba(128, 128, 128, 0.349);
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 50%;
  padding: 0.375rem 0.5rem;
}
.main_top {
  margin: 30px auto 0 auto;
  background-color: rgba(41, 40, 40, 0);
  background-image: url("https://www.br.de/sternenhimmel/sterne-sternbilder-sternenhimmel-sternzeichen-102~_v-img__16__9__xl_-d31c35f8186ebeb80b0cd843a7c267a0e0c81647.jpg?version=b14b1");
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px 0px 3px rgba(128, 128, 128, 0.301),
    -2px 0px 3px rgba(128, 128, 128, 0.301);
  padding: 20px 30px 40px 30px;
}

.forecast_bottom {
  background-color: rgba(184, 182, 182, 0.637);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.301),
    -2px 0px 3px rgba(128, 128, 128, 0.301);
  margin: 0 auto 20px auto;
  padding: 10px 25px 20px 25px;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

#currentTemp {
  font-size: 34px;
}

#humidity-wind {
  font-size: 12px;
}
